.about-me-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.about-me-header {
    text-align: center;
}

.about-me-section {
    line-height: 1.5;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.skills-header {
    text-align: center;
}

.skills-section {
    line-height: 1.5;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.tech-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.tech-header {
    text-align: center;
}

.tech-section {
    line-height: 1.5;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}