.about-me-container {
    line-height: 1.5;
    width: 40%;
    margin: 100px auto 100px auto;
}

.about-me-contents {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.about-me-header {
    text-align: center;
}

.skills-container {
    line-height: 1.5;
    width: 40%;
    margin: 50px auto 100px auto;
    text-align: left;
}

.skills-header {
    text-align: center;
}

.skills-contents {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tech-container {
    line-height: 1.5;
    width: 40%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.tech-contents {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tech-header {
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 800px) {
   
}