.main-container {
    height: 100vh;
    background-image: url(../img/nz-mountains.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#81ACC8;
}

.top-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.bottom-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
}

.profile-img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.about-me-container {
    line-height: 1.5;
    width: 40%;
    margin: 50px auto 0 auto;
    background-color: rgba(221, 109, 152, 0.8);
    border: 2px solid black;
    color: black;
}

.about-me-container:hover {
    opacity: 0.4;
}

.about-me-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.about-me-container p {
    text-align: center;
}

.about-me-header {
    text-align: center;
}

.skills-container {
    line-height: 1.5;
    width: 40%;
    margin: 50px auto 0 auto;
    background-color: rgba(221, 109, 152, 0.8);
    border: 2px solid black;
    color: black;
}
.skills-container p {
    text-align: center;
}
.skills-header {
    text-align: center;
}

.skills-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.tech-container {
    line-height: 1.5;
    width: 40%;
    /* margin: 10px auto auto auto; */
    text-align: left;
}

.skills-container:hover {
    opacity: 0.4;
}

.tech-contents {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tech-header {
    text-align: center;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.tech-item img {
    width: 100px;
    height: 100px;
}

.caption {
    display: block;
    margin-left: 25px;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    background-color: #ff5bb0;
    border-radius: 6px;
    border: 1px solid #ee1eb5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c70067;
}

.myButton:hover {
    background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color: #ef027d;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .main-container h1 {
        font-size: 2rem;
    }
    .main-container {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .main-container p {
        font-size: 1rem;
    }
    .main-container h1 {
        font-size: 2rem;
    }
    .main-container {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        height: auto;
    }
    .top-item {
        flex-direction: column;
    }
    .about-me-container {
        width: 75%;
        height: auto;
    }
    .skills-container {
        width: 75%;
        height: auto;
    }
    .profile-img {
        width: 50%;
        height: auto;
    }
}