
/* Blog post components */
.blog-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    background-image: url(../img/silhoutte-mountain.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#81ACC8;
}

.blog-post {

    line-height: 1.5;
    width: 40%;
    margin: 50px auto 0 auto;
    background-color: rgba(221, 109, 152, 0.8);
    border: 2px solid black;
    color: black;
    padding: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .blog-container {
        width: 100%
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .blog-post {
        width: 80%;
    }
}


@media screen and (max-width: 800px) {
    img {
        width: 80%;
        height: auto;
    }
}