.contact-section {
    background-color: #ffffff;
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
}

.contact-section>h1 {
    margin: 0;
    align-self: center;
}

.contact-contents {
    display: flex;
    justify-content: center;
    /* height: 60%; */
}

.contact-contents form {
    display: flex;
    flex-direction: column;
}

.contact-form div {
    margin: 1rem;
    display: flex;
    flex-direction: column;

}

.contact-message {
    flex-grow: 1;
}

.contact-message>textarea {
    flex-grow: 1;
}

.submit-button {
    border-radius: 10px;
    border: 2px solid #ff0d76;
    background-color: white;
    color: #000000;
}

.submit-button:hover {
    background-color: #ff0d76;
    color: white;
    transition: 1s
}

.small-map {
    border: 0;
    display: none;
}

.medium-map {
    border: 0;
    display: none;
}


/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .contact-section {
        height: 90vh;
    }

    .contact-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .small-map {
        display: block;
    }

    .medium-map {
        display: none;
    }

}

@media screen and (min-width: 600px) {

    .small-map {
        display: block;
    }
    .medium-map {
        display: none;
    }

}

@media screen and (min-width: 800px) {

    .small-map {
        display: none;
    }
    .medium-map {
        display: block;
    }
}
