footer {
    text-align: center;
    background-color: #222222;
    color: white;
    margin: 0;
    padding: 0;
    height: 10vh;
}

.github {
    width: 50px;
    height: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1030px) and (min-width: 820px) {
    width: 300px;
}

@media screen and (max-width: 819px) and (min-width: 720px) {
    width: 270px;
}

@media screen and (max-width: 470px) and (min-width: 300px) {
    width: 240px;
}