h1 {
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-content {
    display:flex;
    /* padding: 10px;
    border: 2px solid darksalmon; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-item {
    width: 60vh;
    height: 40vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
   background-image: url(../img/nz-mountains.jpeg);
}

.item1:hover .project-overlay {
    opacity: 0.8;
}

.item2 {
    background-image: url(../img/nz-mountains.jpeg);
}

.item2:hover {
    opacity: 0.3;
}

.item3 {
    background-image: url(../img/nz-mountains.jpeg);
}

.item3:hover {
    opacity: 0.3;
}

.project-overlay {
   transition: .5s ease;
   opacity: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
}

.text {
    background-color: black;
    font-size: 16px;
}