
* {
    box-sizing: border-box;
}

/* Project header component */
.project-header {
    text-align: center;
    margin: 0
}

/* Background image component */
.project-bg {
    height: 90vh;
    width: 100%;
    background-image: url(../img/nz-river-mountain.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #81ACC8;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.text {
    background-color: black;
    font-size: 16px;
}

/* Flip card component */
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 200px;
    color: black;
    perspective: 1000px;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Flip card hover interactivity */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Mobile/touch interaction */
.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-img: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgba(221, 109, 152, 0.8);
    color: white;
    transform: rotateY(180deg);
}


/* MEDIA QUERIES */
@media screen and (max-width: 738px) {
    .project-bg {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 468px) {
    .project-bg {
        height: auto;
        width: 100%;
    }
}