@import "normalize.css";
@import "footer.css";
@import "navbar.css";
@import "aboutme.css";
@import "projects.css";
@import "blog.css";
@import "contact.css";

.main-bg-img {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/akihabara-japan-2019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-bg-img h1, h2 {
    display: inline-block;
    color: white;
    

}

.main-bg-img h1 {
    font-size: 4rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 600px) {
    .main-bg-img h1 {
        font-size: 3rem;
    }
}